@{
    Layout = "~/Views/BaseStyle.cshtml";
    ViewBag.Title = "Администрирование";
}
<body>
    <div class="divs">
        <h3>Вы зашли от имени админимстратора</h3>
        <br />
        <a href="/Base/AdminStudents" class="links">Список студентов</a>
        <a href="/Base/AdminAccounts" class="links">Список аккаунтов</a>
        <a href="/Base/RequestAch" class="links">Заявки достижений</a>
        <a href="/Base/Rank" class="links">Рейтинг</a>
        <a href="/Base/Login" class="links">Выход</a>
    </div>
</body>
