@{
    Layout = "~/Views/BaseStyle.cshtml";
    ViewBag.Title = "Не успешно";
}
<body>
    <div class="divs">
        <h2>Неверный код</h2>
        </br>
        <a class="links" href="~/Base/Confirmation" title="Подтверждение почты">Назад</a>
    </div>
</body>
