
@{
    Layout = "~/Views/BaseStyle.cshtml";
    ViewBag.Title = "Успешное добавление";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GramotLoad</title>
</head>
<body>
    <div>
        <h2>Заявка отправлена, после одобрения ваше достижения появится в личном кабинете</h2>
    </div>
    <a class="links" href="~/Base/Profile" title="Личный кабинет">На главную</a>
</body>
</html>
